*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    resize: none;
}
body{
    --mainColor: #348ac4;
    --whiteColor: #fefefe;
}
header{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
    background: var(--mainColor)
}
#logo{
    width: 40%;
    margin: 20px;
}
#logo a{
    color: var(--whiteColor)
}
#links{
    width: 60%;
    margin: 20px;
    display: flex;
    justify-content: right;
}
#links ul{
    display: flex;
    flex-direction: row;
}
#links li{
    margin: 0 5px 0 5px;
}
#links a{
    color: var(--whiteColor);
}
main{
    margin: 15px;
    padding-top: 58px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#routine{
    min-width: calc(60% + 10px);
    max-width: 800px; 
}
.day{
    margin: 10px;
}
.dH{
    display: flex;
    align-items: center;
}
.dName{
    font-size: 1.1rem;
    margin: 10px;
}
.day button{
    cursor: pointer;
    color: #34d353;
    background: none;
    border: none;
    padding: 5px;
    transition: .3s;
}
/* .day button:hover{
    transform: rotate(360deg);
} */
.day input{
    height: 20px;
    border: none;
    border-bottom: 1px solid #111;
    padding: 3px;
    margin-left: 5px;
}
.exD{
    margin-bottom: 5px;
}
.ex{
    margin: 3px 3px 3px 6px;
}
